@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Thin_100.ttf') format('opentype');
    font-weight: 100; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1_ExtraLight_200.ttf') format('opentype');
    font-weight: 200; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1_Light_300.ttf') format('opentype');
    font-weight: 300; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1_Medium_500.ttf') format('opentype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}