*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

body{
    background: $body-bg;
    font-family: $font-pr;
}

.default_padding{
    padding: 100px 0 140px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

.title_2{
    font-style: normal;
    font-weight: 200;
    font-size: 44px;
    line-height: 55px;
    text-transform: capitalize;
    text-align: center;
    color: $white;
    margin-bottom: 30px;
    position: relative;
}

.title_2-before{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 3px;
        background: $pr-color;
    }
}

.sub_title_description{
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    color: $text;
}

.text_description{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    color: $text;
}

.fix-width{
    max-width: 272px;
}

.pr-color{
    color: $pr-color;
}

.sc-color{
    color: $sc-color;
}

.plus-sc-color{
    color: $plus-sc-color;
}

.sub-color{
    color: $sub-color;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_contact{
    text-decoration: none;
    display: block;
    color: $white;
    font-family: $font-pr;
    font-size: 18px;
    font-weight: 300;
    width: 310px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(131deg, #6850FF 0%, #AA6CFF 40.36%, #925CE1 100%);
    border-radius: 5px;

    &:hover{
        background: $light-purple;
    }
}

.btn_learn{
    text-decoration: none;
    display: block;
    color: $white;
    font-family: $font-pr;
    font-size: 16px;
    font-weight: 250;
    width: 140px;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    border: 3px solid $light-purple;
    margin: 0;

    &:hover{
        background: $border-gradient-learn;
        border: 3px solid transparent;
        padding: 20px;
    }
}

.btn_see{
    width: 280px;
    height: 42px;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    border: 1px solid $white;
    justify-content: flex-start;
    padding-left: 40px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1;
    transition: all 0.5s ease;
    position: relative;

    &:hover{
        border: 1px solid transparent;
        background: $pr-color;
    }

    &::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
        width: 16px;
        height: 16px;
        background: url(../img/btn-see-after.svg) center no-repeat;
    }
}



.power__info_tabs{
    [data-target="credits"]{
        li{
            &:nth-child(1){
                &::before{
                    background: url(../img/power__info_tabs-credits-one.svg) center no-repeat;
                }
            }

            &:nth-child(2){
                &::before{
                    background: url(../img/power__info_tabs-credits-two.svg) center no-repeat;
                }
            }

            &:nth-child(3){
                &::before{
                    background: url(../img/power__info_tabs-credits-three.svg) center no-repeat;
                }
            }
        }
    }

    [data-target="sales"]{
        li{
            &:nth-child(1){
                &::before{
                    background: url(../img/power__info_tabs-sales-one.svg) center no-repeat;
                }
            }

            &:nth-child(2){
                &::before{
                    background: url(../img/power__info_tabs-sales-two.svg) center no-repeat;
                }
            }

            &:nth-child(3){
                &::before{
                    background: url(../img/power__info_tabs-sales-three.svg) center no-repeat;
                }
            }
        }
    }

    [data-target="marketing"]{
        li{
            &:nth-child(1){
                &::before{
                    background: url(../img/power__info_tabs-marketing-one.svg) center no-repeat;
                }
            }

            &:nth-child(2){
                &::before{
                    background: url(../img/power__info_tabs-marketing-two.svg) center no-repeat;
                }
            }

            &:nth-child(3){
                &::before{
                    background: url(../img/power__info_tabs-marketing-three.svg) center no-repeat;
                }
            }
        }
    }
}

.pr-border-left{
    padding-left: 10px;
    border-left: 1px solid $pr-color;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
    display: flex;
    align-items: center;
}

.pr-border-right{
    padding-right: 10px;
    border-right: 1px solid $pr-color;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
    display: flex;
    align-items: center;
}

.sc-border-left{
    padding-left: 10px;
    border-left: 1px solid $sc-color;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
    display: flex;
    align-items: center;
}

.sc-border-right{
    padding-right: 10px;
    border-right: 1px solid $sc-color;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
    display: flex;
    align-items: center;
}

.sub-border-left{
    padding-left: 10px;
    border-left: 1px solid $sub-color;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
    display: flex;
    align-items: center;
}

.sub-border-right{
    padding-right: 10px;
    border-right: 1px solid $sub-color;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
    display: flex;
    align-items: center;
}