//Fonts
$font-pr: 'Gothic A1';

//Color
$white: white;
$black: black;

$pr-color: #AA6CFF; 
$sc-color: #F9BA50;
$sub-color: #65D8FC;

$light-purple: #a96cff9c;
$border-gradient-learn: linear-gradient(92.96deg, #6850ff -3.78%, #aa6cff 50.58%, #925ce1 130.9%);
$background-img-hero: #925ce1;

$device-category-sub-title-high: #FF9900;
$device-category-sub-title-middle: #65D8FC;
$device-category-sub-title-low: #925CE1;
$device-category-sub-title-very_low: #6850FF;

$text: #787878;
$sub-text: #9A9A9A;

$body-bg: #1E1E1E;