.about{
    .container{
        .about__inner{
            .about__items{
                display: flex;
                justify-content: space-between;

                .about__item_content{
                    width: 600px;
                    padding-top: 50px;
                }

                .about__item{
                    .about__title{
                        text-align: left;
                    }

                    &_text{
                        width: 310px;
                        margin-left: 260px;
                        margin-top: -70px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .about_slider{
                        width: 660px;
                        position: relative;

                        &__title{
                            font-size: 24px;
                            font-weight: 200;
                            line-height: 30px;
                            text-align: center;
                            margin-bottom: 30px;
                            color: $text;
                        }

                        &__item{
                            margin-top: 10px;

                            .swiper{
                                margin-left: auto;
                                margin-right: auto;
                                position: relative;
                                overflow: hidden;
                                list-style: none;
                                padding: 0;
                                z-index: 1;

                                &__wrapper{
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
                                    display: flex;
                                    transition-property: transform;
                                    box-sizing: content-box;
                                    
                                    .swiper_slide{
                                        width: 310px;
                                        height: 155px;
                                        border: 1px solid $pr-color;
                                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
                                        border-radius: 5px;
                                        padding: 10px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        margin-right: 10px;

                                        &__text{
                                            padding-left: 30px;
                                            position: relative;

                                            &:before{
                                                content: '';
                                                width: 16px;
                                                height: 16px;
                                                position: absolute;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                left: 5px;
                                                background: url(../img/swiper_slide__text-before.svg) center no-repeat;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .about_slider__top{
                            margin-top: 0;
                        }

                        &__btn{
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            top: 50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }

                        .btn_prev{
                            background: url(../img/about_slider__btn-prev.svg) center no-repeat;
                            left: -50px;
                        }

                        .btn_next{
                            background: url(../img/about_slider__btn-next.svg) center no-repeat;
                            right: -50px;
                        }

                        &::before{
                            content: '';
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            top: 50px;
                            left: -70px;
                            background: url(../img/about-slider-before.svg) center no-repeat;
                        }

                        &::after{
                            content: '';
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            bottom: 10px;
                            right: -70px;
                            background: url(../img/about-slider-after.svg) center no-repeat;
                        }
                    }
                }
            }
        }
    }
}