.developers_hero{
    padding: 240px 0 40px;
    .container{
        .developers_hero__items{
            display: flex;
            justify-content: space-between;

            .developers_hero__content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .developers_hero__main_info{
                    margin-bottom: 80px;

                    .developers_hero__title{
                        text-align: start;
                        width: 220px;

                        &::before{
                            left: 0;
                            transform: translate(0);
                        }
                    }
    
                    .developers_hero__title__subtitle{
                        font-style: normal;
                        font-size: 32px;
                        font-weight: 200;
                        line-height: 20px;
                        text-transform: capitalize;
                        color: $white;
                        margin-bottom: 25px;
                    }
                }

                .developers_hero__sub_info{
                    &__title{
                        font-style: normal;
                        font-size: 32px;
                        font-weight: 200;
                        line-height: 30px;
                        text-transform: capitalize;
                        color: $white;
                        margin-bottom: 25px;
                    }

                    &__list{
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        &__description{
                            color: $text;
                            font-style: normal;
                            font-size: 24px;
                            font-weight: 200;
                            line-height: 20px;
                        }

                        li{
                            color: $text;
                            font-style: normal;
                            font-size: 24px;
                            font-weight: 200;
                            line-height: 20px;
                        }
                    }
                }
            }

            .developers_hero__img{
                position: relative;
                display: flex;
                justify-content: center;

                &__decor{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 400px;
                    height: 400px;
                    border-radius: 50%;
                    background: rgba(169, 108, 255, 0.6117647059);
                    filter: blur(80px);
                    z-index: 1;
                }
            }
        }
    }
}