.developers_steps{
    padding: 40px 0 140px;
    .container{
        .developers_steps__items{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .number__step{
                .developers_steps__title{
                    font-style: normal;
                    font-size: 32px;
                    font-weight: 200;
                    line-height: 30px;
                    text-transform: capitalize;
                    color: $white;
                    margin-bottom: 25px;
                }

                .block__description{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .developers_steps__description{
                        font-style: normal;
                        font-size: 24px;
                        font-weight: 200;
                        line-height: 30px;
                        color: $text;
                    }
                }

                .developers_steps__example__table{
                    display: flex;
                    flex-direction: column;
                    gap:40px;

                    .table_item{
                        display: flex;
                        gap: 20px;

                        .table_text{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-style: normal;
                            font-size: 24px;
                            font-weight: 200;
                            line-height: 30px;
                            border-radius: 5px;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.40);
                            border-bottom: 1px solid $pr-color;

                            &:nth-child(1){
                                width: 460px;
                                height: 40px;
                            }

                            &:nth-child(2){
                                width: 300px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}