.first_screen{
    .container{
        .hero_items{
            display: flex;
            align-items: center;
            padding: 240px 0;

            .hero_item{
                .hero_title{
                    font-size: 60px;
                    font-family: $font-pr;
                    font-weight: 250;
                    line-height: 75px;
                    color: $white;
                    width: 948px;
                    margin-bottom: 60px;
                }

                .hero_description{
                    font-size: 24px;
                    font-family: $font-pr;
                    font-weight: 300;
                    color: $text;
                    width: 726px;
                    margin-bottom: 25px;
                }

                .hero_links{
                    display: flex;

                    .btn_contact{
                        margin-right: 129px;
                        font-weight: 250;
                    }
                }
                
                &_img{
                    width: 260px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;

                    .hero-img{
                        position: relative;
                        z-index: 2;

                        img{
                            display: block;
                            object-fit: cover;
                            max-width: 100%;
                        }
                    }

                    .hero-decor{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 400px;
                        height: 400px;
                        border-radius: 50%;
                        background: $light-purple;
                        filter: blur(80px);
                        z-index: 1;
                    }
                }
            }
        }
    }
}
