.integration_api{
    .container{
        .integration_api__items{
            display: flex;
            justify-content: space-between;

            .integration_api__content{
                max-width: 660px;
                
                .integration_api__title{
                    width: 310px;
                    text-align: start;
                    margin-bottom: 20px;
                }

                .integration_api__description{
                    text-align: start;
                    margin-bottom: 45px;
                }
            }

            .integration_api__img{
                max-width: 700px;
                margin: 0 auto;
            }
        }
    }
}