.technologies_hero{
    .container{
        .technologies_hero__inner{
            display: flex;
            align-items: center;
            gap: 60px;

            .technologies_hero__img{
                width: 595px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &__decor{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 400px;
                    height: 400px;
                    border-radius: 50%;
                    background: rgba(169, 108, 255, 0.6117647059);
                    filter: blur(80px);
                    opacity: .5;
                }
            }

            .technologies_hero__content{
                max-width: 700px;

                &__items{
                    display: flex;
                    flex-direction: column;
                    gap: 80px;

                    .technologies_hero__content__item{
                        .technologies_hero__title{
                            text-align: start;
                            margin-bottom: 20px;
                        }

                        .technologies_hero__description{
                            font-style: normal;
                            font-weight: 200;
                            font-size: 18px;
                            line-height: 22px;
                            text-transform: capitalize;
                            color: $text;
                            max-width: 600px;
                        }

                        &:nth-child(3){
                            .technologies_hero__description{
                                margin-top: 15px;
                                max-width: 500px;
                                text-indent: 30px;
                                position: relative;

                                &:nth-child(3){
                                    max-width: 280px;
                                }

                                &::before{
                                    content: '';
                                    position: absolute;
                                    width: 18px;
                                    height: 14px;
                                    top: 3.5px;
                                    left: 0;
                                    background: url(../img/technologies_hero-text-before.svg) center no-repeat;
                                }
                            }
                        }
                    }

                    .bg_img_content{
                        display: none;
                    }
                }
            }
        }
    }
}