<header class="header">
    <div class="container">
        <nav class="navigation">
            <a href="index.html" class="navigation__logo_brand">
                <picture>
                    <source media="(min-width:1025px)" srcset="assets/img/logo-header-desktop.svg">
                    <img src="assets/img/logo-header-desktop.svg" alt="">
                </picture>
            </a>

            <div class="navigation__list">
                <ul class="navigation__list__pages">
                    <li>
                        <a href="index.html" class="link-h">
                            <span>
                                Home
                            </span>
                            <i class="link-h-b-tr"></i>
                            <i class="link-h-b-bl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-h">
                            <span>
                                About Us
                            </span>
                            <i class="link-h-b-tr"></i>
                            <i class="link-h-b-bl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-h">
                            <span>
                                Technologies
                            </span>
                            <i class="link-h-b-tr"></i>
                            <i class="link-h-b-bl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-h">
                            <span>
                                Integration
                            </span>
                            <i class="link-h-b-tr"></i>
                            <i class="link-h-b-bl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-h">
                            <span>
                                Price
                            </span>
                            <i class="link-h-b-tr"></i>
                            <i class="link-h-b-bl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-h">
                            <span>
                                Developers
                            </span>
                            <i class="link-h-b-tr"></i>
                            <i class="link-h-b-bl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-h">
                            <span>
                                Contact Us
                            </span>
                            <i class="link-h-b-tr"></i>
                            <i class="link-h-b-bl"></i>
                        </a>
                    </li>
                </ul>

                <a class="navigation__list__started" href="#">Get in touch</a>
            </div>
            
            <button class="burger" id="burger"></button>
        </nav>
    </div>
</header>
