<section class="about" id="about">
    <div class="container">
        <div class="about__inner fs_padding">
            <div class="about__items">
                
                <div class="about__item about__item_content">
                    <h1 class="about__title title_2 title_before">
                        At Devizer we strive to help online businesses get better customers, as well as help customers to obtain better service
                    </h1>

                    <div class="about__item_text">
                        <p class="about__text text">Our focus was to develop a system that can easily be integrated at any point of your business process</p>
                        <p class="about__text text">Whether you are a global financial company or a small eCommerce startup, our solution simplifies customer understanding so you can focus on what matters: growing and scaling your company.</p>
                    </div>
                </div>
                
                <div class="about__item">
                    <div class="about_slider">
                        <h3 class="about_slider__title">They  talk about us</h3>

                        <div class="about_slider__item about_slider__top text">
                            <div class="swiper swiper_pointer_events">
                                <div class="swiper__wrapper">
                                    <div class="swiper_slide about_slider__item">
                                        <p class="swiper_slide__text">An excellent solution for client understanding</p>
                                    </div>
                                    <div class="swiper_slide about_slider__item">
                                        <p class="swiper_slide__text">Excellent service, helps to focus on the right segment of customers</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="about_slider__item about_slider__midle text">
                            <div class="swiper swiper_pointer_events">
                                <div class="swiper__wrapper">
                                    <div class="swiper_slide about-slider__item">
                                        <p class="swiper_slide__text">I am very satisfied with the cooperation, unique service</p>
                                    </div>
                                    <div class="swiper_slide about-slider__item">
                                        <p class="swiper_slide__text">Best in class tool for device evaluation</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="about_slider__item about_slider__bottom text">
                            <div class="swiper swiper_pointer_events">
                                <div class="swiper__wrapper">
                                    <div class="swiper_slide about-slider__item">
                                        <p class="swiper_slide__text">An excellent solution for client understanding</p>
                                    </div>
                                    <div class="swiper_slide about-slider__item">
                                        <p class="swiper_slide__text">The most accurate recognition of customer device model on the market</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="about_slider__btn btn_prev"></div>
                        <div class="about_slider__btn btn_next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>