<section class="ai default_padding" id="ai">
    <div class="container">
        <h2 class="ai__title title_2 title_before">Artificial Intelligence Accelerated System</h2>
    
        <p class="ai__description sub_title_description">Our machine learning algorithms analyze device data and history of its usage To discover clients potential for your business</p>
    
        <div class="ai__items">
            <div class="ai__item">
                <ul class="ai__list">
                    <li>
                        <img src="assets/img/ai-list-img-one.svg" alt="ai-list-icon">
                        <span class="ai__list__description text_description">Leveraging technology to make an impact</span>
                    </li>
                    <li>
                        <img src="assets/img/ai-list-img-two.svg" alt="ai-list-icon">
                        <span class="ai__list__description text_description">Extremely accurate results</span>
                    </li>
                    <li>
                        <img src="assets/img/ai-list-img-three.svg" alt="ai-list-icon">
                        <span class="ai__list__description text_description">Creating more intelligent products</span>
                    </li>
                    <li>
                        <img src="assets/img/ai-list-img-four.svg" alt="ai-list-icon">
                        <span class="ai__list__description text_description">Offering a more intelligent service</span>
                    </li>
                </ul>
            </div>
            <div class="ai__item">
                <img src="assets/img/ai.webp" alt="ai-icon">
                <div class="ai__decor"></div>
            </div>
        </div>
    </div>
</section>