<section class="contact fs_padding" id="contact">
    <div class="container">
        <div class="contact__inner">
            <h1 class="contact_title title_2 title_before">Get your free trial set up today</h1>
        
            <div class="contact__items">
                <div class="contact__item contact_item_form">
                    <h3 class="contact__form__subtitile text_description">Talk to Our Team</h3>

                    <form class="contact__form" action="">
                        <p class="contact__form__text text">Complete the form, our expert team will get back to you.</p>

                        <input class="contact__form__input input__name" type="text" name="name" placeholder="Your name *">
                        
                        <input class="contact__form__input input__email" type="email" name="email" placeholder="Email *">
                        
                        <input class="contact__form__input input__organization" type="text" name="organization" placeholder="Organization name">
                        
                        <input class="contact__form__input input__job-title" type="text" name="job-title" placeholder="Job title">
                        
                        <textarea class="contact__form__textarea" name="request" id="" cols="20" rows="3" placeholder="Please, descibe your request *" required ></textarea>
                        
                        <button class="btn contact__form__btn btn-send" >Send</button>
                    </form>

                    <div class="contact__form__thx">
                        <p class="contact__form__thx__text text">Complete the form, our expert team will get back to you.</p>
                        <button class="btn btn-thx">Thank You</button>
                    </div>

                    <p class="contact__item__text text">If you have any questions about bringing Devizer to your site, get in touch today. We promise to respond shortly.</p>
                    <p class="contact__item__text text support_post">For all Devizer support enquiries, please email <span>support@devizer.com</span></p>
                </div>

                <div class="contact__item contact_item_img">
                    <img src="assets/img/contact-item-img.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>