<section class="developers_hero" id="developers_hero">
    <div class="container">

        <div class="developers_hero__items fs_padding">

            <div class="developers_hero__content">
                <div class="developers_hero__main_info">
                    <h1 class="developers_hero__title title_2 title_before">Quick start</h1>
    
                    <div class="developers_hero__title__subtitle title_2">List of supported integrations</div>
                    
                    <p class="developers_hero__description text">Google Tag Manager</p>
                </div>
    
                <div class="developers_hero__sub_info">
                    <h2 class="developers_hero__sub_info__title">Authentication / Create a subscription ?</h2>
    
                    <ul class="developers_hero__sub_info__list">
                        <p class="developers_hero__sub_info__list__description">Basically Devizer operates in three simple steps:</p>
                    
                        <li>1. Customer device Black box data collects on your web application</li>
                        <li>2. Blackbox data automatically sends to Devizer platform</li>
                        <li>3. You make a request and get data with Devizer score</li>
    
                        <p class="developers_hero__sub_info__list__description last_description">Basically Devizer operates in three simple steps:</p>
                    </ul>
                </div>
            </div>
    
            <div class="developers_hero__img">
                <img src="assets/img/developers-hero-img.svg" alt="">
                <div class="developers_hero__img__decor"></div>
            </div>

        </div>

    </div>
</section>
