<section class="developers_steps" id="developers_steps">
    <div class="container">
        <div class="developers_steps__items">

            <div class="number__step developers_steps__one">
                <h2 class="developers_steps__title">Step 1</h2>

                <div class="block__description">
                    <p class="developers_steps__description">Black box data collects with Devizer script automatically for every visitor</p>
                    <p class="developers_steps__description">Each collected black box is assigned a unique identifier</p>
                </div>
            </div>
            
            <div class="number__step developers_steps__two">
                <h2 class="developers_steps__title">Step 2</h2>

                <div class="block__description">
                    <p class="developers_steps__description">Black box data collects with Devizer script automatically for every visitor</p>
                    <p class="developers_steps__description">Each collected black box is assigned a unique identifier</p>
                </div>
            </div>

            <div class="number__step developers_steps__three">
                <h2 class="developers_steps__title">Step 3</h2>

                <div class="block__description">
                    <p class="developers_steps__description">Devizer is designed to give you full anderstanding behind every score. </p>
                </div>
            </div>

            <div class="number__step developers_steps__default">
                <h2 class="developers_steps__title">Default:</h2>

                <div class="block__description">
                    <p class="developers_steps__description">- a score of less than 30 indicates a low overall assessment of the device (including low solvency of the client)</p>
                    <p class="developers_steps__description">- a score greater than 70 indicates a high overall assessment of the device (including a high solvency of the client)</p>    
                </div>
             </div>

            <div class="number__step developers_steps__example">
                <h2 class="developers_steps__title"> Standard thresholds for each state are:</h2>
            
                <div class="developers_steps__example__table">
                    <div class="table_item white-color">
                        <div class="table_text">State</div>
                        <div class="table_text">Trashhold</div>
                    </div>
                    <div class="table_item sc-color">
                        <div class="table_text">High solvency of the client</div>
                        <div class="table_text">70-100</div>
                    </div>
                    <div class="table_item sub-color">
                        <div class="table_text">Middle solvency of the client</div>
                        <div class="table_text">30-70</div>
                    </div>
                    <div class="table_item pr-color">
                        <div class="table_text">Low solvency of the client</div>
                        <div class="table_text">0-30</div>
                    </div>
                </div>
            </div>

            <div class="number__step developers_steps__integration">
                <h2 class="developers_steps__title">Integration Steps</h2>

                <div class="block__description">
                    <p class="developers_steps__description">You need to install the JavaScript agent. The agent is required to send requests to our identification backend. We refer to the JavaScript agent as "JS agent" further in this guide.</p>
                    <p class="developers_steps__description">The client-side agent is a high-performance JavaScript agent that collects multiple device and browser signals and sends them to the Fingerprint Pro API for processing, identification, and bot detection.</p>    
                </div>
            </div>
        </div>
    </div>
</section>