<section class="device" id="device">
    <div class="container">
        <div class="device_inner">

            <div class="device_inner__label">
                <span>live demo</span>
            </div>

            <h2 class="device_inner__title title_2">See devizer in Action</h2>

            <div class="device_inner__items">

                <div class="device__item device_current">
                    
                    <h3 class="device__item__title device_current__title">
                        Your current Device is:
                    </h3>

                    <div id="device-current" class="device_current__box">
                        <div class="device_current__row">
                            <div class="device_current__name">Type:</div>
                            <div class="device_current__value">Iphone</div>
                        </div>
                        <div class="device_current__row">
                            <div class="device_current__name">Device brand:</div>
                            <div class="device_current__value">14 Pro Max</div>
                        </div>
                        <div class="device_current__row">
                            <div class="device_current__name">Device name:</div>
                            <div class="device_current__value">Option</div>
                        </div>
                        <div class="device_current__row">
                            <div class="device_current__name">Device browser name:</div>
                            <div class="device_current__value">Option</div>
                        </div>
                        <div class="device_current__row">
                            <div class="device_current__name">Device browser version:</div>
                            <div class="device_current__value">Option</div>
                        </div>
                        <div class="device_current__row">
                            <div class="device_current__name">Device os name:</div>
                            <div class="device_current__value">Option</div>
                        </div>
                        <div class="device_current__row">
                            <div class="device_current__name">Device screenwidth:</div>
                            <div class="device_current__value">Option</div>
                        </div>
                    </div>
                </div>

                <div class="device__item device_category">
                    
                    <h3 class="device__item__title device_category__title">Your financial category based on device</h3>

                    <div class="device_category__items">

                        <div class="device_category__item device_category__name">
                            <div class="device_category__name__title high_title">High</div>
                            <div class="device_category__name__title middle_title">Middle</div>
                            <div class="device_category__name__title low_title">Low</div>
                            <div class="device_category__name__title very-low_title">Very low</div>
                        </div>

                        <div class="device_category__item device_category__shoow">
                            <div data-color class="device_category__shoow__color"></div>
                        </div>
                    </div>
                </div>

                <div class="device__item device_score">
                    
                    <h3 class="device__item__title device_score__title">
                        Device Based Score
                    </h3>

                    <div class="device_score__diagram">
                        <img src="assets/img/device_score__diagram.svg" alt="">
                    </div>

                    <div id="device-percent" class="device_score__percent">
                        <span>95%</span>
                    </div>
                </div>

                <div class="device__item device_gpa">
                    <h3 class="device_gpa__title">Your Devizer score VC Customers avgarage Devizer score</h3>

                    <div class="device_gpa__diagram">
                        <img src="assets/img/device_gpa__diagram.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>