<section class="example default_padding" id="example">
    <div class="container">
        <div class="example__title title_2 title_before">Features list example</div>

        <div class="example__items">

            <div class="example__item left_item">
                <div class="example_box">
                    <div class="example_box__title">Device complectation</div>
                    <ul class="example_box__list text">
                        <li>device model</li>
                        <li>device CPU</li>
                        <li>device video adapter</li>
                        <li>device motherboard</li>
                        <li>device RAM size</li>
                    </ul>
                </div>

                <div class="example_box">
                    <div class="example_box__title">Device cost</div>
                    <ul class="example_box__list text">
                        <li>model cost</li>
                        <li>CPU cost</li>
                        <li>video adapter cost</li>
                        <li>motherboard cost</li>
                        <li>router cost</li>
                    </ul>
                </div>
                
                <div class="example_box">
                    <div class="example_box__title">Device software data</div>
                    <ul class="example_box__list text">
                        <li>device browser version</li>
                        <li>device os version</li>
                        <li>device local currency</li>
                        <li>device local language</li>
                        <li>device local network</li>
                    </ul>
                </div>
            </div>

            <div class="example__item example_img">
                <img src="assets/img/example_img.svg" alt="">
            </div>

            <div class="example__item right_item">
                <div class="example_box">
                    <div class="example_box__title">Device history</div>
                    <ul class="example_box__list text">
                        <li>owners behaviour history</li>
                        <li>device popularity level</li>
                        <li>device requests history</li>
                        <li>device price trend</li>
                        <li>device confidence level</li>
                    </ul>
                </div>

                <div class="example_box">
                    <div class="example_box__title">Device usage</div>
                    <ul class="example_box__list text">
                        <li>device first seen</li>
                        <li>device activity</li>
                        <li>device battary condition</li>
                        <li>device touchscreen usage</li>
                        <li>device activity time</li>
                    </ul>
                </div>
                
                <div class="example_box">
                    <div class="example_box__title">Device fraud alerts</div>
                    <ul class="example_box__list text">
                        <li>bot detected</li>
                        <li>imcognito status detected</li>
                        <li>automation toolkit detected</li>
                        <li>simulator detected</li>
                        <li>jail root detected</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
