<section class="first_screen" id="first_screen">

    <div class="container">
        
        <div class="hero_items fs_padding">

            <div class="hero_item">
                <h1 class="hero_title">AI-accelerated Device based scoring platform to make insights about your clients solvency </h1>

                <p class="hero_description">  
                    Powered by the most accurate device fingerprint technology,
                    Deviser discovers your revenue opportunities
                </p>

                <div class="hero_links">
                    <a href="contact.html" class="btn_contact">CONTACT US</a>

                    <a href="technologies.html" class=btn_learn>LEARN MORE</a>
                </div>
            </div>

            <div class="hero_item">
                <div class="hero_item_img">
                    <div class="hero-img">
                        <img src="assets/img/img-hero-desktop.svg" alt="">
                    </div>
                    <div class="hero-decor"></div>
                </div>
            </div>
        </div>
    </div>
</section>