<section class="global default_padding" id="global">
    <div class="container">
        <h2 class="global__title title_2 title_before">We Are About Global</h2>

        <div class="global__items">
            <div class="global__item">
                <ul class="global__item__list text_description">
                    <li>Any Country</li>
                    <li>Any Market</li>
                    <li>Any Client</li>
                    <li>Any Device</li>
                </ul>
            </div>
            <div class="global__item">
                <img src="assets/img/global-img.svg" alt="global-icon">
            </div>
        </div>
    </div>
</section>