<section class="grade default_padding" id="grade">
    <div class="container">
        <h2 class="grade__title title_2 title_before">Device Based Score</h2>

        <p class="grade__description sub_title_description">Our tool collects insights about the client through devices associated to him</p>
        <p class="grade__description sub_title_description">These insights are displayed through Deviser scoring</p>
        
        <div class="grade__items">
            <div class="grade__item">
                <ul class="grade__list list_left">
                    <li>
                        <img src="assets/img/grade-list-img-complectation.svg" alt="">
                        <span class="text_description">Device complectation</span>
                    </li>
                    <li>
                        <img src="assets/img/grade-list-img-cost.svg" alt="">
                        <span class="text_description">Device cost</span>
                    </li>
                    <li>
                        <img src="assets/img/grade-list-img-software.svg" alt="">
                        <span class="text_description">Device software data</span>
                    </li>
                </ul>
            </div>

            <div class="grade__item grade__item-img">
                <img src="assets/img/grade__item-img.svg" alt="">
            </div>

            <div class="grade__item">
                <ul class="grade__list list_right">
                    <li>
                        <img src="assets/img/grade-list-img-history.svg" alt="">
                        <span>Device history</span>
                    </li>
                    <li>
                        <img src="assets/img/grade-list-img-usage.svg" alt="">
                        <span>Device usage</span>
                    </li>
                    <li>
                        <img src="assets/img/grade-list-img-fraud-alerts.svg" alt="">
                        <span>Device fraud alerts</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="grade_a_block">
            <a class="grade_btn btn_see btn" href="technologies.html">See full feature list</a>
        </div>
    </div>
</section>