<section class="implementation" id="implementation">
    <div class="container">
        <h2 class="implementation__title title_2 title_before">Devizer Is Easy To Implement</h2>

        <div class="implementation__items text_description">
            
            <div class="implementation__item">
                <span class="implementation__item__title">STEP 01</span>
                
                <span class="implementation__item__description">Implement PHP script on your site</span>
                
                <img class="implementation__item__icon" src="assets/img/implementation-item-icon-step-1.svg" alt="step-1-icon">

                <span class="implementation__item__text">1 hour</span>
            </div>
            
            <div class="implementation__item">
                <span class="implementation__item__title">STEP 02</span>
                
                <span class="implementation__item__description">Make POST requests  to our API</span>
                
                <img class="implementation__item__icon" src="assets/img/implementation-item-icon-step-2.svg" alt="step-2-icon">

                <span class="implementation__item__text">2-4 hour</span>
            </div>
            
            <div class="implementation__item">
                <span class="implementation__item__title">STEP 03</span>
                
                <span class="implementation__item__description">Enjoy data from Deviser</span>
                
                <img class="implementation__item__icon" src="assets/img/implementation-item-icon-step-3.svg" alt="step-3-icon">
            </div>
        </div>
    </div>
</section>
