<section class="integration_api default_padding" id="integration_api">
    <div class="container">
        <div class="integration_api__items">

            <div class="integration_api__content">
                <h2 class="integration_api__title title_2 title_before">API Integration</h2>
                <p class="integration_api__description text_description">
                    Our simple REST API can be integrated via code. We have a clear overview of the integration process on the developers page.
                </p>

                <a href="#" class="btn btn_dev">Developers page button</a>
            </div>
            <div class="integration_api__img">
                <img src="assets/img/integration_api__img.svg" alt="">
            </div>
            
        </div>
    </div>
</section>