<section class="integration_hero" id="integration_hero">
    <div class="container">
        <div class="integration_hero__inner fs_padding">

            <div class="integration_hero__content">
                <h1 class="integration_hero__title  title_before">How to integrate Deviser solution?</h1>
                
                <p class="integration_hero__description text_description">
                    Deviser gives analysts, risk managers, salers, marketologs a complete end-to-end solution that is transparent and integrates seamlessly into your platform.
                </p>
            </div>
            
            <div class="integration_hero__img">
                <img src="assets/img/integration_hero__img.svg" alt="">
            </div>
        </div>
    </div>
</section>