<section class="integration_flow default_padding" id="integration_flow">
    <div class="container">
        <div class="integration_flow__items">
            <h2 class="integration_flow__title title_2 title_before">The integration flow</h2>

            <ul class="integration_flow__list text_description">

                <li class="list__item list__item_block">
                    <span>01</span>
                    <p>PHP script implementation</p>
                </li>

                <li class="list__item">
                    Deviser is designed to integrate with your current platform within hours.
                </li>

                <li class="list__item list__item_block">
                    <span>02</span>
                    <p>REST API requests creating</p>
                </li>

                <li class="list__item">
                    Whether you are a big financial company or a small ecommerce, the end-to-end solution can leverage data and enrich it to know your customers better and increase your company revenue.
                </li>

                <li class="list__item list__item_block">
                    <span>03</span>
                    <p>Enjoying accurate results</p>
                </li>

                <li class="list__item list__item_btn">
                    <a href="#" class="btn btn_dev">Developers page button</a>
                </li>

            </ul>
        </div>
    </div>
</section>