<section id="power" class="power">
    <div class="container">
        <div class="power__inner">
            <h2 class="power__title">Feel The Power Of Device Based Score</h2>

            <p class="power__description">
                Embed Devizer scoring into your 

                <span class="power__description_box">
                    <span data-target="credits" class="subdescription subdescription_credits action">Data modelling pipeline</span>
                    <span data-target="sales" class="subdescription subdescription_sales">Your Sales Activity</span>
                    <span data-target="marketing" class="subdescription subdescription_marketing">Your Marketing Activity</span>
                </span>
            </p>

            <div class="power__info_tabs">

                <ul data-target="credits" class="porew__info_tab active">
                    <li>
                        <p class="fix-width pr-color">to leverage additional high predictive features</p>
                    </li>
                    
                    <li>
                        <p class="fix-width pr-color">to reduce your cost of risk, increase approval rate</p>
                    </li>

                    <li>
                        <p class="fix-width pr-color">to improve the overall predictive power of your general model</p>
                    </li>
                </ul>

                <ul data-target="sales" class="porew__info_tab">
                    <li>
                        <p class="fix-width sc-color">identify the users most likely to respond to your campaigns</p>
                    </li>
                    
                    <li>
                        <p class="fix-width sc-color">define audience segments based on device data</p>
                    </li>

                    <li>
                        <p class="sc-color">build customer personas that will unlock growth, improve Return On Marketing Investment, and reduce Cost of Acquisition</p>
                    </li>
                </ul>

                <ul data-target="marketing" class="porew__info_tab">
                    <li>
                        <p class="fix-width sub-color">identify the users most likely to respond to your campaigns</p>
                    </li>

                    <li>
                        <p class="fix-width sub-color">define audience segments based on device data</p>
                    </li>

                    <li>
                        <p class="sub-color">build customer personas that will unlock growth, improve Return On Marketing Investment, and reduce Cost of Acquisition</p>
                    </li>
                </ul>
            </div>

            <ul class="power__tabs_buttons"> 
                <button data-path="credits" class="power_tabs__btn ">
                    <img src="assets/img/power__tabs_buttons-credits.svg" alt="">
                    <p class="pr-color">Credits</p>
                </button>

                <button data-path="sales" class="power_tabs__btn ">
                    <img src="assets/img/power__tabs_buttons-sales.svg" alt="">
                    <p class="sc-color">Sales</p>
                </button>

                <button data-path="marketing" class="power_tabs__btn active">
                    <img src="assets/img/power__tabs_buttons-marketing.svg" alt="">
                    <p class="sub-color">Marketing</p>
                </button>
            </ul>

            <div class="power__diagram_tabs">
                <div class="power__diagram_inner">
                    <div data-target="credits" class="power_diagram__tab">
                        <h3 class="power_diagram__tab__title">Make smarter decisions, cut your loss.</h3>

                        <div class="power_diagram__items">

                            <div class="power_diagram__item">
                                <p class="power_diagram__item__text">
                                    Decrease your Default rate
                                </p>
                                <p class="power_diagram__item__text pr-border-left">
                                    Apply small loan amount for clients with low
                                    <br>
                                    Device Based Score
                                </p>
                            </div>

                            <div class="power_diagram__item">
                                <p class="power_diagram__item__text">Increase your profit</p>
                                <p class="power_diagram__item__text pr-border-right">
                                    Accept trustworthy clients with 
                                    <br>
                                    high Device Based Score
                                </p>
                            </div>
                        </div>

                        <p class="power_diagram__tab__sub_title">CREDIT DAFAULT RATE</p>

                        <div class="power_diagram__tab__diagram-img">
                            <img src="assets/img/power_diagram__tab__diagram-img-credits.webp" alt="">
                        </div>
                    </div>
                    <div data-target="sales" class="power_diagram__tab ">
                        <h3 class="power_diagram__tab__title">Sell smarter, increase the number of products sold</h3>

                        <div class="power_diagram__items">

                            <div class="power_diagram__item">
                                <p class="power_diagram__item__text">
                                    Sell expensive goods
                                </p>
                                <p class="power_diagram__item__text sc-border-left">
                                    Propose expensive goods
                                    <br>
                                    to high Device Based Score clients
                                </p>
                            </div>

                            <div class="power_diagram__item">
                                <p class="power_diagram__item__text">Sell cheap goods</p>
                                <p class="power_diagram__item__text sc-border-right">
                                    Propose cheap goods
                                    <br>
                                    to low Device Based Score clients
                                </p>
                            </div>
                        </div>

                        <p class="power_diagram__tab__sub_title">NUMBER’S OF GOODS SOLD</p>

                        <div class="power_diagram__tab__diagram-img">
                            <img src="assets/img/power_diagram__tab__diagram-img-sales.webp" alt="">
                        </div>
                    </div>
                    <div data-target="marketing" class="power_diagram__tab active">
                        <h3 class="power_diagram__tab__title">IMPROVE TARGETING, INCREASE YOUR SOLVENT LEADS</h3>

                        <div class="power_diagram__items">

                            <div class="power_diagram__item">
                                <p class="power_diagram__item__text">
                                    Raise return on marketing investment
                                </p>
                                <p class="power_diagram__item__text sub-border-left">
                                    Get clients
                                    <br>
                                    with high Device Based Score
                                </p>
                            </div>

                            <div class="power_diagram__item">
                                <p class="power_diagram__item__text">Lower cost of acquisition</p>
                                <p class="power_diagram__item__text sub-border-right">
                                    Pay less
                                    <br>
                                    for low Device Based Score leads
                                </p>
                            </div>
                        </div>

                        <p class="power_diagram__tab__sub_title">AVG CHECK VS LEAD COST</p>

                        <div class="power_diagram__tab__diagram-img">
                            <img src="assets/img/power_diagram__tab__diagram-img-marketing.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>