<section class="scoring default_padding" id="scoring">
    <div class="container">
        <h2 class="scoring__title title_2 title_before">Devises  Is Alternative Scoring</h2>

        <p class="scoring__description sub_title_description">
            DEVIZER solve problem with client's assessment when there are:
        </p>

        <div class="scoring__items scoring__items__top">
            <div class="scoring__item">
                <img src="/assets/img/scoring__item-img-one.svg" alt="">
                <span class="scoring__item__description text_description">no user credit history</span>
            </div>
            <div class="scoring__item">
                <img src="/assets/img/scoring__item-img-two.svg" alt="">
                <span class="scoring__item__description text_description">no user financial data</span>
            </div>
            <div class="scoring__item">
                <img src="/assets/img/scoring__item-img-three.svg" alt="">
                <span class="scoring__item__description text_description">no user behavior data</span>
            </div>
            <div class="scoring__item">
                <img src="/assets/img/scoring__item-img-four.svg" alt="">
                <span class="scoring__item__description text_description">no user sotial networks data</span>
            </div>
            <div class="scoring__item">
                <img src="/assets/img/scoring__item-img-five.svg" alt="">
                <span class="scoring__item__description text_description">no user telecom data</span>
            </div>
        </div>

        <div class="scoring__items scoring__items__bottom">

            <div class="scoring__item">
                <span class="scoring__item__description text_description">
                    Better for organisations who get better customers.
                </span>
            </div>

            <div class="scoring__item">
                <span class="scoring__item__description text_description">
                    Good for customers who obtain better service
                </span>
            </div>
            
        </div>
    </div>
</section>