<section class="technologies_hero" id="technologies_hero">
    <div class="container">
        <div class="technologies_hero__inner fs_padding">

            <div class="technologies_hero__img">
                <img src="assets/img/technologies-hero.webp" alt="">
                <div class="technologies_hero__img__decor"></div>
            </div>
            
            <div class="technologies_hero__content">
                <div class="technologies_hero__content__items">

                    <div class="technologies_hero__content__item">
                        <h1 class="technologies_hero__title title_1 title_before">
                            Our Artificial intelligence and Machine learning (AI/ML) solutions use device data to assess customer which is useful to businesses.
                        </h1>

                        <p class="technologies_hero__description text_description">
                            The insights provided by Devizer with it's Device score can help more efficient processes, boost productivity and minimize costs.
                        </p>
                    </div>

                    <div class="technologies_hero__content__item bg_img_content">
                        <img src="assets/img/technologies-hero.webp" alt="">
                    </div>

                    <div class="technologies_hero__content__item">
                        <h1 class="technologies_hero__title title_1">
                            We have our own hub and innovation centre for developing technology solutions: 
                        </h1>

                        <p class="technologies_hero__description text_description">
                            Expertise in designing, developing, and deploying high quality solutions based on AI
                        </p>

                        <p class="technologies_hero__description text_description">
                            Rich experience in machine learning algoritms
                        </p>

                        <p class="technologies_hero__description text_description">
                            Large pool of in-house technical resources, having experience and expertise in implementation AI into Device based scoring models
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
