<section class="technologies_grade default_padding" id="technologies_grade">
    <div class="container">
        <h2 class="technologies_grade__title title_2 title_before">Devizer Device Based Score</h2>

        <div class="technologies_grade__description">
            <p class="sub_title_description">Our tool collects insights about the client through associated to him devices</p>
            <p class="sub_title_description">These insights are displayed with Deviser scoring</p>
        </div>

        <div class="technologies_grade__items">
            
            <div class="technologies_grade__item left_boxes">
                <div class="technologies_grade__item__box">
                    <img src="assets/img/technologies_grade__item__box_one.svg" alt="">
                    <span>Device complectation</span>
                </div>
                <div class="technologies_grade__item__box">
                    <img src="assets/img/technologies_grade__item__box_two.svg" alt="">
                    <span>Device cost</span>
                </div>
                <div class="technologies_grade__item__box">
                    <img src="assets/img/technologies_grade__item__box_three.svg" alt="">
                    <span>Device cost</span>
                </div>
            </div>

            <div class="technologies_grade__item img_item">
                <img src="assets/img/technologies_grade__item__box_brand.svg" alt="">
            </div>

            <div class="technologies_grade__item right_boxes">
                <div class="technologies_grade__item__box">
                    <img src="assets/img/technologies_grade__item__box_four.svg" alt="">
                    <span>Device history</span>
                </div>
                <div class="technologies_grade__item__box">
                    <img src="assets/img/technologies_grade__item__box_five.svg" alt="">
                    <span>Device usage</span>
                </div>
                <div class="technologies_grade__item__box">
                    <img src="assets/img/technologies_grade__item__box_six.svg" alt="">
                    <span>Device fraud alerts</span>
                </div>
            </div>
        </div>

        <p class="technologies_grade__label text_description">Over 200 non-sensitive predictors used</p>
    </div>
</section>