<section class="why default_padding" id="why">
    <div class="container">
        <h2 class="why__title title_2 title_before">Why Deviser?</h2>

        <div class="why__items why__items__top">
            <div class="why__item">
                <span class="why__item-percent plus-sc-color" number-start="1.5" number-end="99.5" data-symbol="%">1.5 %</span>
                <span class="why__item-title plus-sc-color-before">Accuracy</span>
                <span class="why__item-description text_description">The most complete device identification</span>
            </div>
            <div class="why__item">
                <span class="why__item-percent sub-color" number-start="5" number-end="95" data-symbol="%">5 %</span>
                <span class="why__item-title sub-color-before">Hit Rate</span>
                <span class="why__item-description text_description">Most devices can be found in our database</span>
            </div>
            <div class="why__item">
                <span class="why__item-percent pr-color " number-start="2" number-end="200" data-symbol=">">2</span>
                <span class="why__item-title pr-color-before">Predictors</span>
                <span class="why__item-description text_description">Effective evaluation parameters</span>
            </div>
        </div>
        <div class="why__items why__items__bottom">
            <div class="why__item">
                <img src="assets/img/why__item-icon-one.svg" alt="why-icon">
                <span class="why__item__text text_description">Reduce cost of risk and fraud</span>
            </div>
            <div class="why__item">
                <img src="assets/img/why__item-icon-two.svg" alt="why-icon">
                <span class="why__item__text text_description">shorten the time to “yes”</span>
            </div>
            <div class="why__item">
                <img src="assets/img/why__item-icon-three.svg" alt="why-icon">
                <span class="why__item__text text_description">100% predictivity with 0% personal data</span>
            </div>
            <div class="why__item">
                <img src="assets/img/why__item-icon-four.svg" alt="why-icon">
                <span class="why__item__text text_description">grow revenue</span>
            </div>
            <div class="why__item">
                <img src="assets/img/why__item-icon-five.svg" alt="why-icon">
                <span class="why__item__text text_description">expand audience</span>
            </div>
            <div class="why__item">
                <img src="assets/img/why__item-icon-six.svg" alt="why-icon">
                <span class="why__item__text text_description">detect high-risk applicants</span>
            </div>
        </div>
    </div>
</section>