@media screen and (max-width: 1200px) {
    .header {
        .container{
            .navigation{
                &__list{
                    flex-direction: column;
                    align-items: center;
                    position: fixed;
                    opacity: 0;
                    visibility: hidden;
                    top: -100%;
                    left: 0;
                    background: $body-bg;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    transition: all .4s;

                    &__pages{
                        flex-direction: column;
                        padding: 30px 0;
                    }
                }

                &__list.active{
                    top: calc(45px + 75 * ((100vw - 320px) / 1120));
                    opacity: 1;
                    visibility: visible;
                }

                .burger{
                    display: flex;
                    width: calc(30px + 10 * ((100vw - 320px) / 1120));
                    height: calc(17px + 8 * ((100vw - 320px) / 1120));
                    z-index: 5;
                }
            }
        }
    }

    .grade{
        .container{
            .grade__items{
                flex-wrap: wrap;
                gap: 40px 0px;

                .grade__item{
                    &:nth-child(1){
                        order: -2;
                        width: 50%;
                    }

                    &:nth-child(3){
                        order: -1;
                        width: 50%;

                        .grade__list{
                            li{
                                flex-direction: column;
                            }
                        }
                    }

                    .grade__list{
                        li{
                            flex-direction: column;
                        }
                    }
                }

                .grade__item-img{
                    width: 100%;
                    img{
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .example{
        .container{
            .example__items{
                flex-wrap: wrap;

                .example_img{
                    order: -1;
                    width: 100%;

                    img{
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .footer{
        .container{
            .footer__top{
                flex-wrap: wrap;
                justify-content: flex-start;
                padding-bottom: 60px;

                &__item:nth-child(1){
                    width: 100%;
                }
            }
        }
    }
}