@media screen and (max-width: 1440px) {

    .header{
        .container{

            .navigation{
                height: calc(40px + 80 * ((100vw - 320px) / 1120));

                &__logo_brand{
                    width: calc(80px + 88 * ((100vw - 375px) / 1065));
                }

                &__list{
                    gap: calc(5px + 35 * ((100vw - 1200px) / 300));
                }
            }
        }
    }

    .first_screen{
        .container{
            .hero_items{
                .hero_item{
                    &:nth-child(1){
                        max-width: calc(320px + 628 * ((100vw - 375px) / 1065));
                    }

                    .hero_title{
                        font-size: calc(24px + 36 * ((100vw - 375px) / 1065));
                        line-height: calc(30px + 45 * ((100vw - 375px) / 1065));
                        margin-bottom: calc(40px + 20 * ((100vw - 375px) / 1065));
                    }

                    .hero_description{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                        margin-bottom: calc(35px - 10 * ((100vw - 375px) / 1065));
                        max-width: calc(335px + 355 * ((100vw - 375px) / 1065));
                    }

                    .hero_links{
                        gap: calc(20px + 110 * ((100vw - 375px) / 1065));
                    }

                    .hero-img{
                        width: 260px;

                        img{
                            width: calc(140px + 120 * ((100vw - 375px) / 1065));
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

    .device{
        padding: 0;
        padding-bottom: calc(70px + 70 * ((100vw - 375px) / 1065));

        .container{
            .device_inner{
                margin-left: calc(0px - 40 * ((100vw - 375px) / 1065));
                margin-right: calc(0px - 40 * ((100vw - 375px) / 1065));

                &__title{
                    font-size: calc(24px + 20 * ((100vw - 375px) / 1065));
                    line-height: calc(30px + 26 * ((100vw - 375px) / 1065));
                    margin-bottom: calc(10px + 0 * ((100vw - 375px) / 1065));
                }
                
                &__items{
                    .device_current{
                        padding-top: calc(28px + 12 * ((100vw - 375px) / 1065));
                        padding-bottom: calc(28px + 12 * ((100vw - 375px) / 1065));
                        padding-left: calc(10px + 30 * ((100vw - 375px) / 1065));
                        padding-right: calc(10px + 30 * ((100vw - 375px) / 1065));

                        &__title{
                            font-size: calc(18px + 6 * ((100vw - 375px) / 1065));
                            line-height: calc(22px + 8 * ((100vw - 375px) / 1065));
                            margin-bottom: calc(30px + 16 * ((100vw - 375px) / 1065));
                        }

                        &__box{
                            font-size: calc(12px + 4 * ((100vw - 375px) / 1065));
                            line-height: calc(16px + 4 * ((100vw - 375px) / 1065));

                            .device_current__row{
                                padding: calc(8px + 2 * ((100vw - 375px) / 1065));

                                &:not(:last-child){
                                    margin-bottom: calc(20px + 10 * ((100vw - 375px) / 1065));
                                }
                            }
                        }
                    }

                    .device_category{
                        padding-top: calc(28px + 12 * ((100vw - 375px) / 1065));
                        padding-bottom: calc(28px + 12 * ((100vw - 375px) / 1065));
                        padding-left: calc(10px + 30 * ((100vw - 375px) / 1065));
                        padding-right: calc(10px + 30 * ((100vw - 375px) / 1065));
                        
                        &__title{
                            font-size: calc(18px + 6 * ((100vw - 375px) / 1065));
                            line-height: calc(22px + 8 * ((100vw - 375px) / 1065));
                            max-width: calc(220px + 80 * ((100vw - 375px) / 1065));
                            margin-bottom: calc(70px + 30 * ((100vw - 375px) / 1065));
                        }
    
                        &__items{
                            gap: calc(30px + 10 * ((100vw - 375px) / 1065));
                            height: calc(270px + 110 * ((100vw - 375px) / 1065));
    
                            .device_category__name{
                                &__title{
                                    font-size: calc(14px + 2 * ((100vw - 375px) / 1065));
                                    line-height: calc(18px + 2 * ((100vw - 375px) / 1065));
                                }
                            }
                        }
                    }
                    
                    .device_gpa{
                        &__title{
                            max-width: calc(335px + 275 * ((100vw - 375px) / 1065));
                            font-size: calc(18px + 6 * ((100vw - 375px) / 1065));
                            line-height: calc(22px + 8 * ((100vw - 375px) / 1065));
                            margin-bottom: calc(40px + 20 * ((100vw - 375px) / 1065));
                        }
                    }
                }
            }
        }
    }

    .power {
        .container{
            .power__inner{
                .power__title {
                    max-width: calc(335px + 260 * ((100vw - 375px) / 1065));
                    margin: 0 auto;
                }

                .power__description{
                    font-size: calc(18px + 14 * ((100vw - 375px) / 1065));
                    line-height: calc(22px + 18 * ((100vw - 375px) / 1065));

                    &_box{
                        font-size: calc(18px + 14 * (100vw - 375px) / 1065);
                        line-height: calc(22px + 18 * (100vw - 375px) / 1065);
                    }
                }

                .power__info_tabs{
                    .porew__info_tab{
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: calc(20px + 40 * ((100vw - 375px) / 1065));
                        margin-bottom: calc(20px + 10 * ((100vw - 375px) / 1065));
                    }
                }

                .power__tabs_buttons{
                    display: flex;
                    justify-content: space-between;

                    .power_tabs__btn{
                        width: 33%;
                        height: calc(80px + 80 * ((100vw - 375px) / 1065));
                        gap: calc(0px + 20 * ((100vw - 375px) / 1065));
                        font-size: calc(14px + 10 * ((100vw - 375px) / 1065));
                        line-height: calc(18px + 12 * ((100vw - 375px) / 1065));
                        padding: calc(10px + 10 * ((100vw - 375px) / 1065));
                        opacity: 0.3;

                        img{
                            max-width: calc(30px + 30 * ((100vw - 375px) / 1065));
                            margin-bottom: calc(10px + 0 * ((100vw - 375px) / 1065));
                        }

                        p{
                            font-size: calc(14px + 10 * ((100vw - 375px) / 1065));
                            line-height: calc(18px + 12 * ((100vw - 375px) / 1065));
                        }
                    }
                }

                .power__diagram_tabs{
                    .power__diagram_inner{
                        .power_diagram__tab{
                            &__title{
                                font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                                line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                            }
    
                            .power_diagram__items{
                                margin-left: calc(20px + 40 * ((100vw - 375px) / 1065));
                                margin-right: calc(20px + 40 * ((100vw - 375px) / 1065));
                            
                                .power_diagram__item{
                                    max-width: calc(300px + 110 * ((100vw - 375px) / 1065));
                                
                                    &__text{
                                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
    
                                        &:not(:last-child){
                                            margin-bottom: 10px;
                                        }
    
                                        &:last-child{
                                            font-size: calc(14px + 4 * ((100vw - 375px) / 1065));
                                            line-height: calc(18px + 7 * ((100vw - 375px) / 1065));
                                        }
                                    }
    
                                    .pr-border-left{
                                        padding-left: 10px;
                                        border-left: 1px solid $pr-color;
                                    }
    
                                    .pr-border-right{
                                        padding-right: 10px;
                                        border-right: 1px solid $pr-color;
                                    }
                                }
                            }
    
                            &__subtitle{
                                font-size: calc(14px + 4 * ((100vw - 375px) / 1065));
                                font-weight: 100;
                                line-height: calc(18px + 7 * ((100vw - 375px) / 1065));
                            }

                            &__diagram-img{
                                img{
                                    margin: 0 auto;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }

    .grade{
        .container{
            .grade__description{
                font-size: calc(18px + 14 * ((100vw - 375px) / 1065));
                line-height: calc(20px + 20 * ((100vw - 375px) / 1065));
            }

            .grade__items{
                margin-top: calc(40px + 20 * ((100vw - 375px) / 1065));
                margin-bottom: calc(40px + 20 * ((100vw - 375px) / 1065));

                .grade__item{
                    
                    &:nth-child(1),
                    &:nth-child(3){
                        width: 320px;
                        flex-shrink: 1;

                        .grade__list{
                            padding-top: calc(0px + 90 * ((100vw - 375px) / 1065));
                            li{
                                img{
                                    width: calc(50px + 22 * ((100vw - 375px) / 1065));
                                }

                                span{
                                    font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                                    line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .scoring{
        .container{
            .scoring__description{
                margin-bottom: calc(40px + 20 * ((100vw - 375px) / 1065));
            }

            .scoring__items__top{
                flex-wrap: wrap;
                justify-content: space-around;
                gap: calc(20px + 20 * ((100vw - 375px) / 1065));
                margin-bottom: calc(30px - 10 * ((100vw - 375px) / 1065));

                .scoring__item{
                    border-top: 1px solid $pr-color;
                    width: calc(335px - 85 * ((100vw - 375px) / 1065));
                    height: calc(150px + 160 * ((100vw - 375px) / 1065));

                    &::after{
                        display: none;
                    }

                    img{
                        width: calc(50px + 46 * ((100vw - 375px) / 1065));
                    }

                    span{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                    }
                }
            }

            .scoring__items__bottom{
                .scoring__item{
                    margin-bottom: calc(20px + 20 * ((100vw - 375px) / 1065));
                    gap: calc(20px + 20 * ((100vw - 375px) / 1065));
                    width: calc(335px + 325 * ((100vw - 375px) / 1065));
                    height: calc(150px + 80 * ((100vw - 375px) / 1065));

                    &__description{
                        width: calc(280px + 150 * ((100vw - 375px) / 1065));
                    }

                    &::after{
                        display: none;
                    }
                }
            }
        }
    }

    .ai{
        .container{
            .ai__title{
                max-width: calc(300px + 500 * ((100vw - 375px) / 1065));
                margin: 0 auto 30px;
            }

            .ai__items{ 
                .ai__item{

                    .ai__list{
                        li{

                            img{
                                width: calc(48px + 22 * ((100vw - 375px) / 1065));
                            }

                            .ai__list__description{
                                font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                                line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                            }

                            &:not(:last-child){
                                margin-bottom: calc(20px + 60 * ((100vw - 375px) / 1065));
                            }
                        }
                    }

                    &:first-child{
                        width: calc(300px + 160 * ((100vw - 375px) / 1065));
                    }
                }
            }
        }
    }

    .why{
        .container{
            .why__title{
                margin-bottom: calc(40px + 30 * ((100vw - 375px) / 1065));
            }

            .why__items__top{
                margin-bottom: calc(40px + 20 * ((100vw - 375px) / 1065));
                gap: calc(10px + 80 * ((100vw - 375px) / 1065));

                .why__item{
                    &-percent{
                        font-size: calc(32px + 32 * ((100vw - 375px) / 1065));
                        line-height: calc(34px + 34 * ((100vw - 375px) / 1065));
                    }

                    &-title{
                        font-size: calc(20px + 12 * ((100vw - 375px) / 1065));
                        line-height: calc(21px + 13 * ((100vw - 375px) / 1065));
                    }

                    &-description{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                    }
                }
            }

            .why__items__bottom{
                gap: calc(10px + 120 * ((100vw - 375px) / 1065));

                .why__item{
                    width: calc(155px + 85 * ((100vw - 375px) / 1065));
                    height: calc(155px + 85 * ((100vw - 375px) / 1065));

                    img{
                        width: calc(66px + 30 * ((100vw - 375px) / 1065));
                        height: calc(66px + 30 * ((100vw - 375px) / 1065));
                        margin-bottom: calc(10px + 10 * ((100vw - 375px) / 1065));
                    }

                    &__text{
                        font-size: calc(14px + 10 * ((100vw - 375px) / 1065));
                        line-height: calc(18px + 12 * ((100vw - 375px) / 1065));
                        max-width: 260px;
                    }
                }
            }
        }
    }

    .global{
        .container{
            .global__title{
                margin-bottom: calc(30px + 20 * ((100vw - 375px) / 1065));
            }

            .global__items{
                gap: calc(20px + 180 * ((100vw - 375px) / 1065));

                .global__item{
                    &__list{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));

                        li{
                            &:not(:last-child){
                                margin-bottom: calc(10px + 20 * ((100vw - 375px) / 1065));
                            }
                        }
                    }
                }
            }
        }
    }

    .implementation{
        padding-top: calc(50px + 50 * ((100vw - 375px) / 1065));
        padding-bottom: calc(120px + 120 * ((100vw - 375px) / 1065));
        
        .container{
            .implementation__title{
                margin-bottom: calc(40px + 30 * ((100vw - 375px) / 1065));
            }

            .implementation__items{

                .implementation__item{
                    width: calc(300px + 50 * ((100vw - 375px) / 1065));
                    height: calc(280px + 80 * ((100vw - 375px) / 1065));

                    &__title{
                        font-size: calc(24px + 40 * ((100vw - 375px) / 1065));
                        line-height: calc(25px + 43 * ((100vw - 375px) / 1065));
                    }

                    &__description{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                    }
                }
            }
        }
    }

    .about{
        .container{
            .about__inner{
                .about__items{
                    .about__item_content{
                        width: calc(335px + 265 * ((100vw - 375px) / 1065));

                        .about__item_text{
                            margin-left: calc(90px + 170 * ((100vw - 375px) / 1065));
                            width: calc(216px + 94 * ((100vw - 375px) / 1065));


                        }
                    }

                    .about__item{
                        .about_slider{
                            width: calc(335px + 325 * ((100vw - 375px) / 1065));

                            &::before,
                            &::after{
                                width: calc(25px + 25 * ((100vw - 375px) / 1065));
                                height: calc(25px + 25 * ((100vw - 375px) / 1065));
                            }

                            &::before{
                                top: calc(10px - 10 * ((100vw - 375px) / 1065));
                                left: 0;
                            }

                            &__title{
                                font-size: calc(18px + 6 * ((100vw - 375px) / 1065));
                                line-height: calc(22px + 8 * ((100vw - 375px) / 1065));
                            }

                            .about_slider__item{
                                .swiper{
                                    &__wrappe{
                                        .about_slider__item{
                                            width: calc(150px + 160 * ((100vw - 375px) / 1065));
                                            height: calc(80px + 75 * ((100vw - 375px) / 1065));
                                            font-size: calc(10px + 6 * ((100vw - 375px) / 1065));
                                            line-height: calc(14px + 6 * ((100vw - 375px) / 1065));
                                            padding: calc(5px + 5 * ((100vw - 375px) / 1065));
                                        
                                            .swiper_slide__text{
                                                    padding-left: calc(20px + 10 * ((100vw - 375px) / 1065));
                                            }
                                        }
                                    }
                                }
                            }

                            &::after{
                                bottom: calc(-40px - 20 * ((100vw - 375px) / 1065));
                                right: 0;
                            }

                        }
                    }
                }
            }
        }
    }

    .technologies_hero{
        .container{
            .technologies_hero__inner{
                .technologies_hero__img{
                    width: calc(450px + 145 * ((100vw - 375px) / 1065));
                }

                .technologies_hero__content{
                    &__items{
                        gap: calc(40px + 40 * ((100vw - 375px) / 1065));
                    }
                }
            }
        }
    }

    .technologies_grade{
        .container{
            .technologies_grade__items{
                margin-top: calc(40px + 80 * ((100vw - 375px) / 1065));
                margin-bottom: calc(40px + 40 * ((100vw - 375px) / 1065));

                .technologies_grade__item{
                    gap: calc(20px + 20 * ((100vw - 375px) / 1065));
                    
                    .technologies_grade__item__box{
                        img{
                            width: calc(50px + 22 * ((100vw - 375px) / 1065));
                        }

                        span{
                            font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                            line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                        }
                    }
                }

                .img_item{
                    img{
                        max-width: calc(150px + 110 * ((100vw - 375px) / 1065));
                    }
                }
            }
        }
    }

    .example{
        .container{
            .example__title{
                margin-bottom: calc(40px + 60 * ((100vw - 375px) / 1065));
            }
        }
    }

    .integration_hero{
        .container{
            .integration_hero__inner{
                flex-direction: column;
                gap: 40px;

                .integration_hero__content{
                    max-width: 100%;
                    align-self: self-start;

                    .integration_hero__title{
                        max-width: calc(200px + 150 * ((100vw - 375px) / 1065));
                        font-size: calc(24px + 20 * ((100vw - 375px) / 1065));
                        line-height: calc(30px + 25 * ((100vw - 375px) / 1065));
                        margin-bottom: calc(15px + 15 * ((100vw - 375px) / 1065));

                        &::before{
                            left: 0;
                            transform: translate(0);
                        }
                    }

                    .integration_hero__description{
                        max-width: 660px;
                    }
                }

                .integration_hero__img{
                    order: -1;
                }
            }
        }
    }

    .integration_api{
        .container{
            .integration_api__items{
                flex-direction: column;
                gap: calc(60px + 40 * ((100vw - 375px) / 1065));

                .integration_api__content{
                    max-width: calc(335px + 325 * ((100vw - 375px) / 1065));

                    .integration_api__title{
                        &::before{
                            left: 0;
                            transform: translate(0);
                        }
                    }

                    .integration_api__description{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                    }
                }

                .integration_api__img{
                    order: -1;
                }
            }
        }
    }

    .integration_flow{
        .container{
            .integration_flow__items{

                .integration_flow__title{
                    &::before{
                        left: 0;
                        transform: translate(0);
                    }
                }

                .integration_flow__list{
                    .list__item{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                        height: auto;
                    }
                }
            }
        }
    }

    .price{
        .container{
            .price__items{
                .price__title{
                    font-size: calc(24px + 20 * ((100vw - 375px) / 1065));
                    line-height: calc(30px + 25 * ((100vw - 375px) / 1065));
                    margin-bottom: calc(10px + 18 * ((100vw - 375px) / 1065));
                }

                .price__description{
                    font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                    line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
                    margin-bottom: calc(60px + 20 * ((100vw - 375px) / 1065));
                }

                .price__content{
                    &__title{
                        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                        line-height: calc(22px + 8 * ((100vw - 375px) / 1065));
                        margin-bottom: calc(10px + 15 * ((100vw - 375px) / 1065));
                    }

                    &__description{
                        font-size: calc(14px + 2 * ((100vw - 375px) / 1065));
                        line-height: calc(18px + 2 * ((100vw - 375px) / 1065));
                    }

                    &__table{
                        gap: calc(8px + 12 * ((100vw - 375px) / 1065));

                        &__row{
                            gap: calc(8px + 12 * ((100vw - 375px) / 1065));

                            .table_title{
                                width: calc(60px + 80 * ((100vw - 375px) / 1065));
                                height: calc(68px + 92 * ((100vw - 375px) / 1065));
                                font-size: calc(12px + 8 * ((100vw - 375px) / 1065));
                                line-height: calc(14px + 11 * ((100vw - 375px) / 1065));
                            }

                            .table__row__items_title{
                                .title_item{
                                    gap: calc(8px + 12 * ((100vw - 375px) / 1065));

                                    .title_price{
                                        width: 100%;
                                        height: calc(34px + 46 * ((100vw - 375px) / 1065));
                                    }

                                    .title_devise{
                                        height: calc(34px + 46 * ((100vw - 375px) / 1065));
                                    }
                                }
                            }

                            .table_item{
                                width: calc(60px + 80 * ((100vw - 375px) / 1065));
                                height: calc(34px + 26 * ((100vw - 375px) / 1065));
                                font-size: calc(12px + 5 * ((100vw - 375px) / 1065));
                                line-height: calc(14px + 7 * ((100vw - 375px) / 1065));
                            }

                            .table_items{
                                gap: calc(8px + 12 * ((100vw - 375px) / 1065));
                            }
                        }
                    }

                    &__sub_description{
                        margin-bottom: calc(6px + 14 * ((100vw - 375px) / 1065));
                    }
                }
            }
        }
    }

    .developers_hero{
        .container{

            .developers_hero__items{
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                padding-top: calc(60px + 80 * ((100vw - 320px) / 1120));
                padding-bottom: calc(60px + 60 * ((100vw - 375px) / 1065));
                gap: 40px;

                .developers_hero__content{
                    max-width: 100%;
    
                    .developers_hero__main_info{
                        
                        .developers_hero__title__subtitle{
                            font-size: calc(18px + 14 * ((100vw - 375px) / 1065));
                            text-align: start;
                        }
                    }

                    .developers_hero__sub_info{
                        &__title{
                            font-size: calc(18px + 14 * ((100vw - 375px) / 1065));
                        }

                        &__list{
                            gap: calc(15px + 5 * ((100vw - 375px) / 1065));

                            &__description{
                                font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                            }

                            li{
                                font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
                            }
                        }
                    }
                }
                
                .developers_hero__img{
                    order: -1;
                    margin: 0 auto;

                    &__decor{
                        width: calc(200px + 200 * ((100vw - 320px) / 1120));
                        height: calc(200px + 200 * ((100vw - 320px) / 1120));
                    }
                }
            }
        }
    }

    .developers_steps{
        .container{
            .developers_steps__items{

                .number__step{

                    .developers_steps__title{
                        font-size: calc(18px + 14 * ((100vw - 320px) / 1120));
                        margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1120));
                    }

                    .block__description{
                        gap: calc(15px + 5 * ((100vw - 320px) / 1120));

                        .developers_steps__description{
                            font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
                            line-height: calc(20px + 2 * ((100vw - 375px) / 1065));
                        }
                    }

                    .developers_steps__example__table{
                        gap: calc(20px + 20 * ((100vw - 320px) / 1120));

                        .table_item{
                            gap: calc(10px + 10 * ((100vw - 320px) / 1120));

                            .table_text{
                                font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
                                line-height: calc(20px + 2 * ((100vw - 375px) / 1065));
                            }
                        }
                    }
                }
            }
        }
    }

    .contact{
        .container{
            .contact__inner{
    
                .contact_title{
                    font-size: calc(24px + 20px * ((100vw - 375px) / 1065));
                    margin-bottom: calc(25px + 15 * ((100vw - 375px) / 1065));
                }

                .contact__items{
                    gap: calc(35px + 95 * ((100vw - 375px) / 1065));
                }
            }
        }
    } 

    .footer{
        padding-top: calc(40px + 60 * ((100vw - 320px) / 1120));
    }

    .container{
        padding-left: calc(15px + 25 * ((100vw - 320px) / 1120));
        padding-right: calc(15px + 25 * ((100vw - 320px) / 1120));
    }

    .fs_padding{
        padding-top: calc(120px + 120 * ((100vw - 375px) / 1065));
        padding-bottom: calc(120px + 120 * ((100vw - 375px) / 1065));
    }

    .default_padding{
        padding-top: calc(50px + 50 * ((100vw - 375px) / 1065));
        padding-bottom: calc(70px + 70 * ((100vw - 375px) / 1065));
    }

    .title_1{
        font-size: calc(18px + 14 * ((100vw - 375px) / 1065));
        line-height: calc(20px + 20 * ((100vw - 375px) / 1065));
    }

    .title_2 {
        font-size: calc(24px + 20 * ((100vw - 375px) / 1065));
        line-height: calc(30px + 25 * ((100vw - 375px) / 1065));
        margin-bottom: calc(15px + 15 * ((100vw - 375px) / 1065));
    }
    .text{
        font-size: calc(14px + 2 * ((100vw - 375px) / 1065));
        line-height: calc(18px + 2 * ((100vw - 375px) / 1065));
    }

    .text_description{
        font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
        line-height: calc(20px + 10 * ((100vw - 375px) / 1065));
    }

    .sub_title_description{
        font-size: calc(18px + 14 * ((100vw - 375px) / 1065));
        line-height: calc(20px + 20 * ((100vw - 375px) / 1065));
    }
}